.register {
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 10px gray;
    border-radius: 6px;
}
.register h2 {
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-color:darkblue ;
    font-size: 1.6rem;
    border-radius: 6px 6px 0 0;
}
.form-regis {
    border: 1px solid royalblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
}
.inp-regis {
    flex: 1;
    padding: 5px;
    outline: none;
    margin: 10px 0;
    border-radius: 3px;
    border: 1px solid royalblue;
}
.sex,.habbit,.job {
    margin: 10px 0;
    outline: none;
}
.job {
    padding: 5px;
    border: 1px solid royalblue;
    border-radius: 3px;
}
.button {
    text-align: center;
}
.btn-regis {
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #2083fe;
    color: white;
    border-radius: 6px;
    outline: none;
}